#tblHdrs {
	height: 9%;
}

.panel-subBody-left{
	width: 20%;
	float: left;
	padding: 15px 40px 0px 20px;
	font-weight: bold;
	margin-left: 2%;
}

.panel-subBody-right{
	width: 20%;
	float: left;
	padding: 15px 0px 0px 0px;
	margin-left: 15%;
}

#tblContent {
	height: 9%;
}

#tblContentProdName{
    height: 9%;
}
#tblContentPageType{
    height: 9%;
}

#tblContentVisibility{
    height: 9%;
}

.saveChanges {
	margin-left: 5%;
	margin-bottom: 3%;
}

#editProdNameBtn {
    float:right;
    background-image: url('../static/edit.png');
    background-size: 22px 22px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    border-radius: 2px;"
}

#editPageTypeBtn{
    float:right;
    background-image: url('../static/edit.png');
    background-size: 22px 22px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    border-radius: 2px;
}

#editVisibilityBtn{
    float:right;
    background-image: url('../static/edit.png');
    background-size: 22px 22px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    border-radius: 2px;
}