{% extends "base.html" %}

{% block content %}

<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})


</script>

<script>
  $(function() {
    $( ".sortable" ).sortable({
      cancel: ".ui-state-disabled",
        revert:300
    });
    $( ".sortable" ).disableSelection();
  });


  $(function() {
      $('#deletepagebtn').live('click', function(){
        $(this).closest('li').remove();
    });
  });

$(function() {
      $('#deletefunnelbtn').live('click', function(){
        $('ul#tabs li.active a').closest('li.active').remove();
        $(this).closest('div.active').remove();
    });
  });


</script>

<script type="text/javascript">
function addtext(pgname, id, fid){

    var newpgname=document.createTextNode(pgname)
    var newpgid=document.createTextNode(id)

    var str1 = "funnel";
    var str2 = String(fid)
    var res = str1.concat(str2);

    var newpg=document.createElement('li')
    newpg.setAttribute('class', 'ui-state-default t')
    newpg.setAttribute('id', id)

    var newpnl = document.createElement('div')
    newpnl.setAttribute('class', 'panel panel-default')

    var newpnlhead = document.createElement('div')
    newpnlhead.setAttribute('class', 'panel-heading')

    var newbtn = document.createElement('a')
    newbtn.setAttribute('href', '#')
    newbtn.setAttribute('style', 'float: right; margin-right:4px;')
    newbtn.setAttribute('id', 'deletepagebtn')

    var newimg = document.createElement('img')
            newimg.setAttribute('src', '/static/cross.png')
            newimg.setAttribute('alt', 'Smiley face')
            newimg.setAttribute('height', '20')
            newimg.setAttribute('width', '20')
            newimg.setAttribute('style', 'float: right; margin-top: 5px')

    var newspan = document.createElement('span')
    newspan.setAttribute('class', 'ui-icon ui-icon-circle-close')

    var newh3 = document.createElement('h3')
    newh3.setAttribute('class', 'panel-title')

    var newb = document.createElement('b')
    newb.appendChild(newpgname)

    newh3.appendChild(newb)

    var newpnlbod = document.createElement('div')
    newpnlbod.setAttribute('class', 'panel-body')
    newpnlbod.appendChild(newpgid)

    newspan.appendChild(newimg)
    newbtn.appendChild(newspan)
    newpnl.appendChild(newbtn)
    newpnlhead.appendChild(newh3)
    newpnl.appendChild(newpnlhead)
    newpnl.appendChild(newpnlbod)
    newpg.appendChild(newpnl)
    document.getElementById(res).appendChild(newpg)

}

</script>

<script>

function setpgids(fid){
var ids = "";

var str1 = "funnel";
var str2 = String(fid)
var res = str1.concat(str2);

var searchEles = document.getElementById(res).children;
for(var i = 0; i < searchEles.length; i++)
{

    if (searchEles[i].className=="ui-state-default t")
    {
        ids += searchEles[i].id
        ids += ","
    }
}

var str3 = "idsinput";
var res = str3.concat(str2);

document.getElementById(res).value = ids;
}

</script>

<script>
function checkifused(pgname, id, fid){

var str1 = "funnel";
var str2 = String(fid)
var res = str1.concat(str2);

var check = "No"


var searchEles = document.getElementById(res).children;
for(var i = 0; i < searchEles.length; i++)
{

    if (searchEles[i].id == id)
    {
    check = "Yes"
    }
}

if (check == "No")
{ addtext(pgname, id, fid)}
}

</script>

<div class="container">
    <h1>{{c.name}} Campaign</h1>

    <div class="panel-group" id="accordion">
        {% for f in funnels %}
        <div class="panel panel-success" id ="funpan{{f.id}}">
            <div class="panel-heading" >
               <div class="panel-heading" >
               <b style="font-size:22px; cursor:pointer"data-toggle="collapse" data-parent="#accordion" href="#collapse{{f.id}}">Funnel {{f.name}}</b>
                   <a href="{{url_for('deletefun')}}?cid={{c.id}}&fid={{f.id}}" style="float:right"><img width="30px" height="30px" style="border:0;" src="/static/delete.png"></a>
            </div>
            </div>

            <div id="collapse{{f.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <form role="form" action="{{ url_for('setfunids') }}" method="get" name="adduser"
                          style="float:left;">
                        <input id="idsinput{{f.id}}" type="hidden" name="pgids" value="">
                        <input id="fid" type="hidden" name="fun_id" value="{{f.id}}">
                        <input id="cid" type="hidden" name="cid" value="{{c.id}}">
                        <button class="btn btn-primary" type="submit" onclick="setpgids({{f.id}})">Save
                            Changes
                        </button>
                    </form>


                    <div style="float:left; width:100%">
                        Content Ids: {{f.content_ids}}
                        <br>
                        <br>
                        <br>
                        <ul class="sortable" id="funnel{{f.id}}">


                            {% if f.content_ids != none %}
                            {% set x = '' %}
                            {% for c in f.content_ids | list %}

                            {% if c != ',' %}
                            {% set x = x + c %}

                            {% elif c == ',' %}

                            {% for p in allfiles%}

                            {% if p.id == x|int %}
                            <li class="ui-state-default t" id="{{x}}">


                                <div class="panel panel-default">
                                    <a href="#" id="deletepagebtn"><span
                                        class="ui-icon ui-icon-circle-close"><img src="/static/cross.png"
                                                                                  alt="Smiley face" height="20"
                                                                                  width="20" style="float: right; margin-top: 5px;"></span></a>
                                    <div class="panel-heading">

                                        <h3 class="panel-title"><b>{{p.page_name}}</b>

                                    </h3>
                                    </div>
                                    <div class="panel-body">ID:{{p.id}}, {{p.page_type}}</div>
                                </div>
                            </li>

                            {%endif%}
                            {%endfor%}
                            {% set x = '' %}
                            {%endif%}

                            {% endfor %}
                            {% endif %}

                        </ul>

                    </div>

                    <div style="height:400px;">

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"
                            style="display: block; position: static; margin-bottom: 20px; *width: 180px; z-index: 999;">
                            <li class="dropdown-submenu" style="z-index:999;">
                                <a tabindex="-1" href="#">Add New Element</a>
                                <ul class="dropdown-menu" style="z-index:999;">
                                    <li class="dropdown-submenu" style="z-index:999;">
                                        <a href="#">Landing Page</a>
                                        <ul class="dropdown-menu" style="z-index:999;">
                                            {% for t in pagetypes %}
                                            <li class="dropdown-submenu" style="z-index:999;">
                                                <a href="#">{{t.type}}</a>
                                                <ul class="dropdown-menu" style="z-index:999;">
                                                    {% set allfiles = clever_function(f.id, t.type|lower) %}
                                                    {% for fi in allfiles %}
                                                    <li id="{{f.id}}menu{{fi.id}} "
                                                        onClick="checkifused('{{fi.page_name}}', {{fi.id}}, {{f.id}})">
                                                        <a href="#">{{fi.page_name}} -- {{fi.product}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        {%endfor%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4>Add New Funnel</h4>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">

                    <form class="form-horizontal" role="form" action="" method="post" name="adduser"
                          enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            <div class="col-sm-offset-0.5 col-sm-5">
                                <label>Funnel Name</label>
                                {{ form.funnel_name(placeholder='Enter Funnel Name', class="form-control")}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-0.5 col-sm-5">
                                <label>Product Name</label>
                                {{ form.product_name(placeholder='Enter Product Name', class="form-control")}}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="singlebutton"></label>
                            <br>

                            <div class="controls">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add Funnel
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}