{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Manage Landing-Page Templates</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Pages</h3>
        </div>
        <div class="panel-body">


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>File Name</th>
                        <th>Product Name</th>
                        <th>Page Type</th>
                        <th>Visibility</th>
                        <th>Uploader</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in Files %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{f.page_name}}</td>
                        <td>{{f.product}}</td>
                        <td>{{f.page_type}}</td>
                        <td>
                            {% if f.visibility == "visible" %}
                            Visible
                            {% elif f.visibility == "hidden" %}
                            Hidden
                            {% else %}
                            Not Set
                            {% endif %}
                        </td>
                        <td>{{f.uploader_id}}</td>
                        <td>
                            <form role="form" action="{{ url_for('editpg') }}" method="get" name="adduser">
                            <input type="hidden" name="pageid" value="{{f.id}}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                            </form>
                        </td>

                        <td>
                            <form role="form" action="{{ url_for('deletepg') }}" method="get" name="adduser">
                            <input type="hidden" name="pageid" value="{{f.id}}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}