{% extends "base.html" %}

{% block content %}



<div class="container">
    <h1>Manage UniBlue FM Campaigns</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Campaigns</h3>
        </div>
        <div class="panel-body">


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Campaign ID
                        <a href="{{url_for('showallcamps')}}?s=id&r={% if request.args.get('s') == 'id' %}{%if request.args.get('r') == '0'%}1{%else%}0{%endif%}{%else%}0{%endif%}"><img src="/static/sort.png" style="cursor:pointer;" alt="Smiley face" height="15" width="15"></a>
                        </th>
                        <th>Campaign Name
                        <a href="{{url_for('showallcamps')}}?s=name&r={% if request.args.get('s') == 'name' %}{%if request.args.get('r') == '0'%}1{%else%}0{%endif%}{%else%}0{%endif%}"><img src="/static/sort.png" style="cursor:pointer;" alt="Smiley face" height="15" width="15"></a>
                        </th>
                        <th>No. of Funnels</th>
                        <th>Creator</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in Camps %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.funnel_ids}}</td>
                        <td>{{c.creator_id}}</td>
                        <td>
                            <form role="form" action="{{ url_for('managecamp') }}" method="get" name="adduser">
                            <input type="hidden" name="cid" value="{{c.id}}">
                            <button class="btn btn-primary" type="submit">Manage Campaign</button>
                            </form>
                        </td>
                        <td>
                            <form role="form" action="{{ url_for('deletecamp') }}" method="get" name="adduser">
                            <input type="hidden" name="cid" value="{{c.id}}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}