{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Manage UniBlue FM Users</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Users</h3>
        </div>
        <div class="panel-body">


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>E-mail</th>
                        <th>Rights</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in Users %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{u.email}}</td>
                        <td>
                            {% if u.rights == 0 %}
                            User
                            {% elif u.rights == 1 %}
                            Administrator
                            {% else %}
                            None
                            {% endif %}
                        </td>
                        <td>
                            {% if u.role == 0 %}
                            Web Developer
                            {% elif u.role == 1 %}
                            Sales Executive
                            {% else %}
                            None
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}