{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1>Funnel {{f.name}} Pages</h1>

    <div class="well">
        {% if pages != 'No Pages'%}
        Pages of this funnel should be linked in the following manner:<br>
        <font size="5">

            {% for p in pages %}
            {% if loop.last %}
            {{p.page_name}}
            {% else %}
            {{p.page_name}} >
            {% endif %}
            {% endfor %}
            {%else%}
            This Funnel has no pages yet
            {%endif%}
        </font>


    </div>
    {% if pages != 'No Pages'%}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Linked To</th>
                        <th></th>
                        <th>Change Link</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for p in pages %}


                    <tr>
                        <td>{{p.page_name}}</td>
                        <td>{% for l in nextlinks %}
                            {% if p.page_name == l['myfile'] %}
                            {{(nextlinks[loop.index-1])['href']}}
                            {% endif %}
                            {% endfor %}
                        </td>

                        <td></td>
                        <td>
                            <form class="form-horizontal" role="form" action="{{ url_for('changelinks') }}"
                                  method="get">
                                <select name="newlink" id="newlink" class=" form-control" style="width: 300px">
                                {% for x in pages %}
                                {% if x.page_name != p.page_name %}
                                <option>{{x.page_name}}</option>
                                {% endif %}
                                {% endfor %}
                                <option>No Link</option>
                                </select>
                           

                        </td>
                        <td>
                            <div class="control-group">
                                <label class="control-label" for="singlebutton"></label>

                                <div class="controls">
                                    <input type="hidden" name="pageid" value="{{p.id}}">
                                    <input type="hidden" name="fid" value="{{f.id}}">
                                    <input type="hidden" name="cid" value="{{f.campaign_id}}">
                                    <button id="singlebutton" class="btn btn-primary">Update Link</button>
                                </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

    </div>
    {%endif%}
</div>

{% endblock %}