{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Manage Landing-Page Templates</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Pages</h3>
        </div>
        <div class="panel-body">


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>File Name</th>
                        <th>Product Name</th>
                        <th>Page Type</th>
                        <th>Visibility</th>
                        <th>Uploader</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in Files %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{f.page_name}}</td>
                        <td>{{f.product}}</td>
                        <td>{% if f.page_type == "download" %}
                            Download Page
                            {% elif f.page_type == "product" %}
                            Product Page
                            {% else %}
                            Not Set
                            {% endif %}
                        </td>
                        <td>
                            {% if f.visibility == 0 %}
                            Visible
                            {% elif f.visibility == 1 %}
                            Hidden
                            {% else %}
                            Not Set
                            {% endif %}
                        </td>
                        <td>{{f.uploader_id}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}